<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="~{fragments/head :: head('Search cards')}">
  </div>
</head>

<body class="bg-dark text-light">

  <div th:replace="~{fragments/navbar :: navbar}"></div>

  <main class="container-fluid py-5">

    <header class="text-center mb-5">
      <h1 class="display-1 fw-bold text-warning mb-3">Card list</h1>
      <p class=" text-secondary mb-4">Browse all cards in our database</p>

      <form th:action="@{/cards}" method="get" class="mx-auto" style="max-width:700px;">
        <div class="input-group input-group-lg shadow">
          <input type="text" name="q" class="form-control bg-dark text-warning border-warning" placeholder=""
            th:value="${lastQuery}">
          <button class="btn btn-warning fw-bold" type="submit">Cerca</button>
          <th:block th:if="${query != ''}">
            <a th:href="@{/cards}" class="btn btn-outline-warning">Reset</a>
          </th:block>

        </div>
      </form>
      <p class=" text-secondary mb-4">available filters: "name", "cmc", "set" </p>
    </header>

    <section>
      <div class="text-center mb-4">
        <span class="badge bg-warning text-dark fs-6 px-3 py-2 shadow-sm">
          <span th:text="${totElements}"></span> carte trovate
        </span>
      </div>

      <div th:if="${lista == null or #lists.isEmpty(lista)}" class="alert alert-warning text-center mx-auto"
        style="max-width: 600px;">
        <h5 class="alert-heading">No card found</h5>
        <p>Either the search terms are wrong or we're missing the card!</p>
        <a th:href="@{/cards}" class="btn btn-sm btn-warning">Show all</a>
      </div>

      <div class="row g-4 justify-content-center" th:if="${not #lists.isEmpty(lista)}">
        <th:block th:each="card : ${lista}">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

            <a th:href="@{/cards/{id}(id=${card.id})}" class="link-wrapper">

              <div class="border-secondary h-100 shadow-sm card-hover card-face" style="position: relative;">





                <div class="card-data-overlay">
                  <!-- Nome -->
                  <div th:text="${card.name}"></div>

                  <!-- Tipo -->
                  <div th:text="${card.typeline}"></div>

                  <!-- Set -->
                  <div th:if="${card.expansionSet != null}" th:text="${card.expansionSet.name}"></div>

                  <!-- Artisti -->

                  <span th:text="${#strings.listJoin(card.artistNames, ', ')}"></span>
                  </span>


                  <!-- Colori -->
                  <div th:if="${card.colorIdentity != null and !#lists.isEmpty(card.colorIdentity)}">
                    <span th:each="c, stat : ${card.colorIdentity}">
                      <span th:text="${c}"></span><span th:if="${not stat.last}">, </span>
                    </span>
                  </div>

                  <!-- Legalità -->
                  <div th:if="${card.legalities != null}" th:text="${card.legalities.get('standard')}"></div>
                </div>

                <img th:if="${card.images != null and card.images.get('normal') != null}"
                  th:src="${card.images.get('normal')}" th:alt="${card.name}" class="card-img" loading="lazy">
              </div>
            </a>
          </div>
        </th:block>
      </div>
    </section>

    <nav th:if="${totalPages > 1}" class="d-flex justify-content-center mt-5">
      <ul class="pagination pagination-lg">
        <li class="page-item" th:classappend="${currentPage==0} ? 'disabled'">
          <a class="page-link bg-dark text-warning border-warning"
            th:href="@{/cards(page=${currentPage - 1}, q=${query})}">&laquo;</a>
        </li>


        <li class="page-item" th:each="i : ${#numbers.sequence(0, 8)}" th:classappend="${i== 4} ? 'active'"
          th:if="${currentPage+i-4>=0}">
          <a class="page-link bg-dark text-warning border-warning"
            th:href="@{/cards(page=${currentPage + i -4}, q=${lastQuery})}" th:text="${currentPage + i -3}"></a>
        </li>

        <li class="page-item" th:classappend="${currentPage ==totalPages} ? 'disabled'">
          <a class="page-link bg-dark text-warning border-warning"
            th:href="@{/cards(page=${currentPage + 1}, q=${query})}">&raquo;</a>
        </li>
      </ul>
    </nav>
  </main>

  <div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>