<div th:fragment="head(pageTitle)">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title th:text="${pageTitle} ?: 'Urza\'s Oracle'">Urza's Oracle</title>
  <div th:replace="~{fragments/includes :: css}"></div>
  <style>
    /* Applica il font a tutto il sito */
    * {
      font-family: "Libre Baskerville", serif;
      font-weight: 400;
      font-style: normal;
    }

    /* Opzionale: caratteri speciali per titoli */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "MioFont", serif;
      letter-spacing: 1px;
    }
  </style>

  <div th:replace="~{fragments/includes :: jscript}"></div>


</div>