<nav
  th:fragment="navbar"
  class="navbar navbar-expand-lg navbar-dark bg-black border-bottom border-warning px-3"
>
  <div class="container-fluid">
    <img
      th:src="@{/img/bd06e812-ef30-4d3e-aeb2-eba19fcd74e6.png}"
      alt="Logo"
      height="60"
      class="me-2"
    />
    <a class="navbar-brand fw-bold text-warning" href="/">Urza’s Oracle</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/cards">Carte</a></li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Chi Siamo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contatti</a>
        </li>
      </ul>

      <!-- Searchbar -->
      <form class="d-flex ms-3" role="search" action="/search" method="get">
        <input
          class="form-control me-2"
          type="search"
          name="q"
          placeholder="Cerca..."
          aria-label="Search"
        />
        <button class="btn btn-outline-warning" type="submit">Cerca</button>
      </form>
    </div>
  </div>
</nav>
