.card-container {
    perspective: 1000px;

    max-height: 60vh;
    max-width: 67%;


    aspect-ratio: 0.714;
    margin: auto;
}


.magic-card {
    width: 100%;
    height: 100%;
    position: relative;

    transform-style: preserve-3d;

    transition: transform 0.1s ease-out;

    cursor: grab;
    user-select: none;
}

.card-img {

    height: 100%;
    aspect-ratio: 0.714;
    object-fit: contain;
    border: 2px solid rgba(255, 193, 7, 0.2);
    background: rgba(26, 16, 51, 0.5);
    border-radius: 7%/5.0235%;
    background-repeat: no-repeat;
}

.card-face {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;

    backface-visibility: hidden;

    -webkit-backface-visibility: hidden;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
}

.card-front {
    transform: rotateY(0deg);
    /* Default state */
}

.card-back {
    transform: rotateY(180deg);
    /* Starts flipped over */
    /* border: 5px solid silver; */
    /* A different border for the back */
    /* background-color: #444; */
    /* Placeholder for a generic Magic card back image */
    /* background-image: url('https://upload.wikimedia.org/wikipedia/en/a/aa/Magic_the_gathering-card_back.jpg'); */
    background-size: cover;
    background-position: center;
    display: flex;
    /* Hide content of back face, just show image */
    justify-content: center;
    align-items: center;
    /* color: white; */
    /* Optional: text like "Magic: The Gathering" */
    /* font-size: 1.5em; */
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); */
    /* text-align: center; */
    /* line-height: 1.2; */
}

/* .card-back-imageflip {
    transform: rotateZ(180deg);
} */