:root {
    --mi-background: #FFD797;
    --mi-background-mute: #F7E9D4;
    --mirari-tan: #EEDDBC;
    --mi-neuter: #b5aa99;
    --mirari-brown: #a36953;

    --mirari-dark-brown: #402e32;

}

@font-face {
    font-family: myFont;

    src: url(sansation_light.woff);

}

/* div,
p {
    box-shadow: inset 0px 0px 0px 1px #f00;

} */

.nav-wrapper {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    padding-bottom: 22px;
    z-index: 2;
}

.mirariindex {
    margin: 0 auto;
    min-height: 95vh;
    max-width: 1200px;
    width: 100%;
    padding-top: 150px;
    background-color: var(--mi-background-mute);
    border-width: 0px 4px;
    border-color: var(--mirari-dark-brown);
    border-style: solid;
    z-index: 1;
    filter: drop-shadow(25px 0px 25px black) drop-shadow(-25px 0px 25px black);
}

.mirarimain {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;

}

.mirarinav {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.navbg {
    position: absolute;
    top: -5px;
    width: 100%;
    height: 100%;
}

.navbg-inline {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
    filter: drop-shadow(3px 3px 0 var(--mirari-dark-brown)) drop-shadow(-3px 3px 0 var(--mirari-dark-brown)) drop-shadow(0px 3px 3px rgb(56, 56, 56));

}

.mirarinavleft {
    display: inline-flex;
    align-self: flex-end;
    z-index: 2;
}

.mirarinavright {
    display: inline-flex;
    align-self: flex-end;
    z-index: 2;
}

.mirarinavlogo {
    width: 50%;
    position: relative;
    display: inline-flex;
    align-self: flex-end;
}

.content-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/overlay/background.jpg);
    opacity: .66;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: 3;
}

.indexcenter {
    display: flex;
    height: 400px;

}

.indexbottom {
    display: flex;

}

.admincommunication {
    width: 85%;
    height: 60%;
}

.cotd {
    position: relative;
    width: 300px;
    transform: translateX(7vw);
}

.cotdcontainer {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 2px;

    background-color: var(--mirari-brown);
    border: 3px solid var(--mirari-dark-brown);
    border-radius: 16px;
    z-index: 200;
}

.cotdtitle {
    position: absolute;
    top: -28px;
    right: 15px;
    display: flex;
    padding: 2px 4px;
    background-color: var(--mi-background);
    border: 3px solid var(--mirari-dark-brown);
    border-radius: 8px;
    justify-content: center;
    z-index: 1;
}

.cotdtext {
    margin: auto;
    color: var(--mi-text);
}

.cotdcard {
    height: 360px;
    aspect-ratio: 0.714;
    border-radius: 4.75% / 3.5%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #bc8700;
    z-index: 400;
}

.logotext {
    position: relative;
}

.logoimg {
    position: absolute;
    box-shadow: #110f0b;
    bottom: -50%;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}

.prompt {
    font-family: "Prompt", sans-serif;

    font-optical-sizing: auto;
    font-style: normal;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 600;
}

.mirarilinks a {
    color: var(--mirari-dark-brown);
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
    font-size: 1rem;
    padding: 0 10px;
    margin: 0 5px;
    display: inline-block;
}

.mirarifooter {
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
}

.footercontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
    max-width: 1300px;
    min-width: 1300px;
    width: 100%;
    background-color: var(--mi-background);
    border-width: 4px 4px 0px 4px;
    border-color: var(--mirari-dark-brown);
    border-style: solid;
    border-radius: 25px 25px 0px 0px;
}